.advantages {
  margin-top: 32px;
}

.advantages__intro {
  padding: 0 18px 16px;
}

@media (min-width: @tablet-width) {
  .advantages__intro {
    padding: 0 124px 55px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__intro {
    padding: 0 359px 44px 357px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
