.catalog-photos__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.catalog-photos__item {
  padding-top: 24px;
  padding-bottom: 30px;
}

.catalog-photos__picture {
  margin-bottom: 15px;
}

.catalog-photos__title {
  padding: 0;
  margin: 0;
  .text-size(14px, 21px);
  font-weight: 700;
}

.catalog-photos__author {
  padding: 0;
  margin: 0;
  .text-size(14px, 21px);
  text-transform: none;
}

.catalog-photos__stats {
  display: flex;
  align-items: center;
}

.catalog-photos__info {
  padding-bottom: 11px;
}

.catalog-photos__like {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-right: 14px;
}

.catalog-photos__likes-number {
  margin: 0;
  padding: 0;
  .text-size(14px, 21px);
  font-weight: 700;
  color: @black;
}
