.feedback__title {
  margin: 0;
  padding: 0;
  text-align: center;
  .text-size(18px, 26px);
  font-weight: 700;
}

.feedback__block {
  margin-top: 20px;
  margin-bottom: 56px;
}

.feedback__input {
  padding: 16px;
  width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  font-family: inherit;
  border: none;
  resize: none;
}

::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  .text-size(18px, 26px);
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}
