@media (min-width: @tablet-width) {
  .fieldset {
    width: 280px;
  }

  .fieldset:first-child {
    margin-right: 88px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset:first-child {
    margin-right: 128px;
  }
}

@media (min-width: @tablet-width) {
  .fieldset--wide {
    width: 960px;
  }
}

.fieldset__title {
  margin: 0;
  padding: 0;
  text-align: center;
  .text-size(18px, 26px);
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .fieldset__title {
    .text-size(21px, 26px);
  }
}

.fieldset__list {
  padding: 0;
  padding-top: 14px;
  margin: 0;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .fieldset__list {
    padding-top: 28px;
  }

  .fieldset__list--wide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding-left: 36px;
    padding-right: 36px;
  }

  .fieldset__list--wider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 84px;
    padding-right: 84px;
    column-gap: 30px;
  }
}

@media (min-width: @desktop-width) {
  .fieldset__list--wide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    padding-left: 53px;
    padding-right: 53px;
  }

  .fieldset__list--wider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 44px;
    padding-right: 44px;
    column-gap: 30px;
  }

}

@media (min-width: @tablet-width) {
  .fieldset__item--radio {
    width: 247px;
  }
}

.fieldset__item--checkbox:not(:last-child) {
  margin-bottom: 36px;
}

@media (min-width: @tablet-width) {
  .fieldset__item--checkbox:not(:last-child) {
    margin-bottom: 0;
  }
}

.fieldset__title--checkbox {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .fieldset__title--checkbox {
    padding-left: 170px;
    padding-right: 170px;
  }
}

.fieldset__label {
  .text-size(14px, 21px);
  margin-left: 16px;
}

.fieldset__input {
  width: 280px;
  padding: 16px 16px 16px 16px;
  border: none;
  background-color: @lighter-grey;
  margin-bottom: 16px;
  font-family: inherit;
  .text-size(18px, 26px);
  font-weight: 700;
}

@media (min-width: @desktop-width) {
  .fieldset__input {
    width: 430px;
  }
}

.fieldset__input-short {
  padding-right: 70px;
}

@media (min-width: @desktop-width) {
  .fieldset__input-short {
    width: 402px;
  }
}

.fieldset__input-phone {
  position: relative;
}

.fieldset__input-phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: @light-grey;
  background-image: url("../img/vectors/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fieldset__input-email {
  position: relative;
}

.fieldset__input-email::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: @light-grey;
  background-image: url("../img/vectors/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}
