.fieldset {
  @media (min-width: @tablet-width) {
    width: 280px;
  }
}

.fieldset--short {
  position: relative;
  padding-bottom: 37px;
}

.fieldset:first-child {
  @media (min-width: @tablet-width) {
    padding-right: 52px;
    margin-right: 64px;
  }
}

.fieldset--wide {
  @media (min-width: @tablet-width) {
    width: 968px;
    position: relative;
    z-index: 1;
  }
}

.fieldset:first-child .fieldset__title {
  @media (min-width: @tablet-width) {
    padding-left: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 61px;
  }
}

.fieldset:nth-child(2) .fieldset__title {
  @media (min-width: @tablet-width) {
    margin-left: -19px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -32px;
  }
}

.fieldset__title {
  margin: 0;
  padding: 0;
  padding-top: 24px;
  text-align: center;
  .text-size(18px, 26px);
  font-weight: 700;

  @media (min-width: @tablet-width) {
    .text-size(21px, 26px);
    padding-top: 0;
  }
}

.fieldset__list {
  padding: 15px 0 0;
  margin: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding-top: 23px;
  }
}

.fieldset__list--wide {
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding-left: 36px;
    padding-right: 36px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 61px;
    padding-left: 53px;
    padding-right: 53px;
  }
}

.fieldset__list--wider {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 38px;
    padding-left: 84px;
    padding-right: 80px;
    column-gap: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0;
    padding-top: 23px;
    padding-left: 13px;
    padding-right: 21px;
    text-align: center;
  }
}

.fieldset__item:not(:last-child) {
  margin-bottom: 16px;
}

.fieldset__item:first-child {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.fieldset--short .fieldset__item:first-child {
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.fieldset__item--radio {
  @media (min-width: @tablet-width) {
    width: 247px;
  }
}

.fieldset__item--radio:not(:last-child) {
  margin-bottom: 36px;
}


.fieldset__item--checkbox {
  @media (min-width: @desktop-width) {
    min-width: 217px;
  }
}

.fieldset__item--checkbox:not(:last-child) {
  margin-bottom: 36px;

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.fieldset__title--radio {
  margin-bottom: 22px;
  padding-left: 0;
  padding-right: 0;

  @media (min-width: @tablet-width) {
    background-color: @white;
    width: fit-content;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom: 31px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 56px;
    padding-right: 65px;
    margin-bottom: 48px;
  }
}

.fieldset__title--radio::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    left: 50%;
    transform: translateX(-50%);
    top: 13px;
    z-index: -1;
  }
}

.fieldset__title--checkbox {
  line-height: 27px;
  padding-top: 23px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    width: fit-content;
    margin: 0 auto;
    padding-left: 63px;
    padding-right: 63px;
    background-color: @white;
  }

  @media (min-width: @desktop-width) {
    padding-top: 11px;
    padding-left: 62px;
    padding-right: 63px;
    margin-bottom: 47px;
  }
}

.fieldset__title--checkbox::before {
  @media (min-width: @tablet-width) {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 38px;
  }
}

.fieldset__label {
  .text-size(14px, 21px);
  margin-left: 16px;
  cursor: pointer;
}

.fieldset__input {
  width: 280px;
  padding: 16px 16px 16px 16px;
  border: none;
  background-color: @lighter-grey;
  font-family: inherit;
  .text-size(18px, 26px);
  font-weight: 700;

  @media (min-width: @tablet-width) {
    padding-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }
}

.fieldset__input::-webkit-input-placeholder {
  color: @black;
}

.fieldset__input-short::-webkit-input-placeholder {
  color: fade(@black, 30%);
}

.fieldset__input:hover {
  background-color: #e5e5e5;
}

.fieldset__input:focus {
  background-color: @white;
  outline: 4px solid #e5e5e5;
  outline-offset: -4px;
}

.fieldset__input-short {
  padding-right: 70px;

  @media (min-width: @desktop-width) {
    width: 402px;
  }
}

.fieldset__input-phone {
  position: relative;
}

.fieldset__input-phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 20px;
  background-color: @light-grey;
}

.fieldset__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 1;
}


.fieldset__input-email {
  position: relative;
}

.fieldset__input-email::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  padding: 20px;
  background-color: @light-grey;
}
