.footnote {
  @media (min-width: @tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 96px;
    padding-right: 96px;
    margin-bottom: 20px;
  }
}

.footnote__button {
  font-family: inherit;
  text-transform: uppercase;
  margin-bottom: 1px;
  cursor: pointer;
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
  }
}

.footnote__message {
  .text-size(12px, 21px);
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: @tablet-width) {
    .text-size(14px, 21px);
    margin-bottom: -6px;
  }
}
