.form-data {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .form-data {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: @desktop-width) {
  .form-data {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form-data__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  border: none;
}

@media (min-width: @tablet-width) {
  .form-data__fieldset {
    padding-bottom: 71px;
  }
}

.form-data__feedback {
  margin: 0;
  padding: 0;
}

.form-data__footnote {
  text-align: right;
}
