.form-intro {
  padding: 36px 20px 28px;
}

.form-intro__title {
  margin: 0;
  padding: 0;
  .text-size (18px, 26px);
  text-align: center;
  margin-bottom: 30px;
}

.form-intro__message {
  margin: 0;
  padding: 0;
  .text-size (14px, 21px);
  text-align: center;
}
