.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  color: @white;
  background-color: @black;
  background-image: url("../img/photos/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: 280%;
}

.hero__wrapper {
  padding-top: 52px;
  padding-bottom: 67px;
}

.hero__image {
  margin: 0 auto;
}
