.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  color: @white;
  background-color: @black;
  background-image: url("../img/photos/hero-background.jpg");
  background-repeat: no-repeat;
}

.main-hero__wrapper {
  padding-top: 90px;
  padding-bottom: 85px;
}

.main-hero__image {
  margin: 0 auto;
}

