.page-header {
  background-color: @white;
  color: @black;
  width: 100%;
  min-height: 56px;
  display: flex;
}

.page-header__logo {
  position: absolute;
  margin-left: 67px;
  margin-right: 68px;
  min-height: 96px;
  min-width: 185px;
}
