.page-footer {
  padding: 40px 20px 23px;
  text-align: center;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 34px;
  .text-size (21px, 26px);
  font-weight: 700;
}
