.page-footer {
  padding: 39px 20px 23px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 36px 60px 36px 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 48px 120px 36px 120px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__hashtag {
  margin: 0;
  margin-bottom: 34px;
  .text-size (21px, 26px);
  font-weight: 700;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}
