.page-header {
  background-color: @white;
  color: @black;
  display: flex;
}

.page-header__logo {
  position: absolute;
  margin-left: 67px;
  margin-right: 68px;
  min-height: 96px;
  min-width: 185px;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    margin-left: 291px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    margin-left: 507px;
  }
}
