.search {
  text-align: center;
  padding: 40px 20px 50px;

  @media (min-width: @tablet-width) {
    padding: 61px 155px 58px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 371px 66px;
  }
}

.search__wrapper {
  margin-bottom: 32px;
}

.search__title {
  margin: 0;
  .text-size (21px, 26px);
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    .text-size (30px, 26px);
  }
}

.search__description {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
}
