.search {
  text-align: center;
  padding: 40px 19px 50px;

  @media (min-width: @tablet-width) {
    padding: 61px 155px 58px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 61px 371px 66px;
  }
}

.search__wrapper {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 45px;
  }
}

.search__title {
  margin: 0;
  .text-size (21px, 26px);
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    .text-size (30px, 26px);
    margin-bottom: 32px;
  }
}

.search__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}

.search__description br {
  display: none;

  @media (min-width: @tablet-width) {
    display: initial;
  }
}
