.services__list {
  padding: 31px 18px 46px 65px;
  list-style: none;
}

.services__item {
  position: relative;
}

.services__item--house::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 37px;
  top: -6px;
  left: -47px;
  background-image: url("../img/vectors/icon-house.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .services__item--house::before {
    width: 77px;
    height: 72px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.services__item--food::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  top: -6px;
  left: -47px;
  background-image: url("../img/vectors/icon-burger.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .services__item--food::before {
    width: 80px;
    height: 71px;
    top: 61px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.services__item--souvenirs::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  top: -6px;
  left: -42px;
  background-image: url("../img/vectors/icon-gift.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .services__item--souvenirs::before {
    width: 67px;
    height: 80px;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: @tablet-width) {
  .services__list {
    display: flex;
    padding: 0;
  }
}

.services__item:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .services__item {
    width: 256px;
    padding: 158px 40px 60px;
  }

  .services__item:nth-child(-n+2) {
    margin-bottom: 0;
    padding: 158px 40px 60px;
  }
}

@media (min-width: @desktop-width) {
  .services__item {
    width: 400px;
    padding: 169px 60px 69px;
  }

  .services__item:nth-child(-n+2) {
    margin-bottom: 0;
    padding: 169px 60px 69px;
  }
}

.services__title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  text-align: left;
  .text-size (18px, 26px);
  color: @black;
}

@media (min-width: @tablet-width) {
  .services__title {
    text-align: center;
    .text-size (21px, 26px);
  }
}

.services__description {
  margin: 0;
  padding: 0;
  color: @black;
  text-align: left;
  .text-size (14px, 21px);
}

@media (min-width: @tablet-width) {
  .services__description {
    text-align: center;
  }
}
