.social__list {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-right: 62px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding-left: 53px;
    margin-bottom: 0;
    margin-top: -1px;
  }
}

.social__list--alternate {
  @media (min-width: @tablet-width) {
    padding-left: 73px;
  }
}

.social__item {
  width: 48px;
  height: 48px;
  padding-top: 16px;
  background-color: @light-blue;

  &:hover {
    background-color: @darker-blue;
  }

  &:active {
    background-color: @dark-blue;
  }
}

.social__icon {
  padding: 17px 12px 12px;
  text-align: center;
}

.social__link {
  fill: @white;
}

.social__link:active {
  fill: fade(@white, 30%);
}
