.video-presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-presentation__video {
  display: block;
  position: relative;
}

.video-presentation__title {
  padding: 0;
  margin: 0;
  .text-size(21px, 26px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.video-presentation__message {
  margin: 0;
  padding: 0;
  .text-size (14px, 21px);
  text-align: center;
  margin-bottom: 38px;
}

.video-presentation__play-button {
  padding: 0;
  position: absolute;
  border: 0;
  top: 62px;
  left: 116px;
  background-color: transparent;
  cursor: pointer;
}
