@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.button {
  display: block;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  padding: 16px 0;
}
.page-body {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #e6e6e6;
  color: #000000;
}
.page-header {
  background-color: #ffffff;
  color: #000000;
  display: flex;
}
.page-header__logo {
  position: absolute;
  margin-left: 67px;
  margin-right: 68px;
  min-height: 96px;
  min-width: 185px;
}
@media (min-width: 768px) {
  .page-header__logo {
    margin-left: 291px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    margin-left: 507px;
  }
}
.header-nav {
  position: relative;
  width: 100%;
  display: flex;
  margin: 0;
}
@media (min-width: 768px) {
  .header-nav {
    width: 768px;
    justify-content: space-between;
  }
  .nav-toggle {
    opacity: 0;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    width: 1200px;
  }
}
.header-nav__wrapper {
  min-height: 56px;
  width: 100%;
}
@media (min-width: 768px) {
  .header-nav__wrapper {
    margin: 0;
  }
}
.header-nav__list {
  padding: 0;
  margin: 0;
  background-color: #81b3d2;
}
.header-nav__toggle {
  position: absolute;
  right: 0;
  z-index: 1;
}
.nav-toggle {
  display: block;
  width: 56px;
  height: 56px;
  border: none;
  padding: 17px 20px;
  cursor: pointer;
  background-color: transparent;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .nav-list {
    margin: 0 auto;
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
  }
  .nav-list__item {
    width: calc(20%);
    padding: 18px 15px;
    text-align: center;
  }
  .nav-list__item:nth-child(2n):not(:nth-child(4n)) {
    margin-right: calc(100% / 5);
  }
}
.nav-list__link {
  padding: 17px 0 12px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}
.nav-list__item {
  text-align: center;
  padding: 17px 108px 12px;
}
@media (min-width: 768px) {
  .nav-list__link {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
  }
  .nav-list__item {
    padding: 0;
  }
  .nav-list__item--current .nav-list__link {
    color: #766357;
  }
}
.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/photos/hero-background.jpg");
  background-repeat: no-repeat;
}
.main-hero__wrapper {
  padding-top: 90px;
  padding-bottom: 85px;
}
@media (min-width: 768px) {
  .main-hero__wrapper {
    padding-top: 77px;
    padding-bottom: 91px;
  }
}
@media (min-width: 1200px) {
  .main-hero__wrapper {
    padding-top: 78px;
    padding-bottom: 90px;
  }
}
.main-hero__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-hero__image {
    width: 460px;
    height: 350px;
  }
}
.advantages {
  margin-top: 32px;
}
.advantages__intro {
  padding: 0 18px 16px;
}
@media (min-width: 768px) {
  .advantages__intro {
    padding: 0 124px 55px;
  }
}
@media (min-width: 1200px) {
  .advantages__intro {
    padding: 0 359px 44px 357px;
  }
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.advantages-services {
  background-color: #ffffff;
}
.search {
  text-align: center;
  padding: 40px 20px 50px;
}
@media (min-width: 768px) {
  .search {
    padding: 61px 155px 58px 155px;
  }
}
@media (min-width: 1200px) {
  .search {
    padding: 61px 371px 66px;
  }
}
.search__wrapper {
  margin-bottom: 32px;
}
.search__title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .search__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.search__description {
  margin: 0;
  font-size: 15px;
  line-height: 21px;
}
.map {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page-footer {
  padding: 39px 20px 23px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 36px 76px 36px 45px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 48px 136px 36px 104px;
  }
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.page-footer__hashtag {
  margin: 0;
  margin-bottom: 34px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .page-footer__hashtag {
    margin-bottom: 0;
  }
}
.advantage {
  text-align: center;
  width: 320px;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .advantage {
    width: 256px;
    min-height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantage {
    width: 400px;
    min-height: 254px;
  }
}
@media (min-width: 768px) {
  .advantage--wide-services {
    width: 768px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .advantage--wide-services {
    width: 1200px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .advantage--wide {
    width: 768px;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .advantage--wide {
    width: 1200px;
    display: flex;
  }
}
.advantage__colored {
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantage__colored {
    display: flex;
  }
}
.advantage__text {
  margin: 0;
  padding: 37px 26px 40px;
}
@media (min-width: 768px) {
  .advantage__text {
    width: 256px;
    padding: 52px 33px 31px;
  }
}
@media (min-width: 1200px) {
  .advantage__text {
    width: 400px;
    padding: 52px 55px 51px;
  }
}
@media (min-width: 768px) {
  .advantage__text-base {
    padding: 52px 33px 52px;
  }
}
@media (min-width: 1200px) {
  .advantage__text-base {
    padding: 63px 50px 41px;
  }
}
.advantage__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
@media (min-width: 768px) {
  .advantage__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantage__title {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.advantage__title--intro {
  margin-bottom: 35px;
}
.advantage__number {
  margin-top: 15px;
  margin-bottom: 20px;
}
.advantage__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}
@media (min-width: 768px) {
  .advantage__image {
    width: 512px;
  }
}
@media (min-width: 1200px) {
  .advantage__image {
    width: 800px;
  }
}
@media (min-width: 768px) {
  .advantage__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .advantage__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.advantage__message,
.advantage__description {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.services__list {
  padding: 31px 18px 46px 65px;
  list-style: none;
}
@media (min-width: 768px) {
  .services__list {
    display: flex;
    padding: 0;
  }
}
.services__item:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .services__item {
    padding: 158px 33px 60px;
  }
}
.services__title {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
@media (min-width: 768px) {
  .services__title {
    text-align: center;
    font-size: 21px;
    line-height: 26px;
  }
}
.services__description {
  margin: 0;
  padding: 0;
  color: #000000;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
}
@media (min-width: 768px) {
  .services__description {
    text-align: center;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
@media (min-width: 768px) {
  .social__list {
    margin-bottom: 0;
  }
}
.social__item:not(:last-child) {
  margin: 0;
  padding: 0;
  margin-right: 6px;
}
.copyright__link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.copyright__text {
  font-weight: 400;
  color: #000000;
  margin-right: 12px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../img/photos/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-size: 280%;
}
@media (min-width: 768px) {
  .hero {
    background-size: 180%;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-size: 100%;
  }
}
.hero__wrapper {
  padding-top: 52px;
  padding-bottom: 67px;
}
@media (min-width: 768px) {
  .hero__wrapper {
    padding-top: 95px;
    padding-bottom: 117px;
  }
}
@media (min-width: 1200px) {
  .hero__wrapper {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}
.hero__image {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__image {
    width: 457px;
    height: 78px;
  }
}
.catalog-intro {
  padding: 37px 20px 25px;
}
@media (min-width: 768px) {
  .catalog-intro {
    padding: 66px 162px 67px;
  }
}
@media (min-width: 1200px) {
  .catalog-intro {
    padding: 100px 381px 65px 373px;
  }
}
.catalog-intro__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .catalog-intro__title {
    font-size: 30px;
    line-height: 26px;
  }
}
.catalog-intro__message {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.catalog-photos {
  padding-left: 20px;
  padding-right: 20px;
}
.catalog-photos__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog-photos {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (min-width: 1200px) {
  .catalog-photos {
    padding-left: 0;
    padding-right: 0;
  }
}
.catalog-photos__item {
  padding-top: 24px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .catalog-photos__item {
    width: 324px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-photos__item {
    position: relative;
    width: 400px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .catalog-photos__item--wide {
    width: 648px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-photos__item--wide {
    position: relative;
    width: 1200px;
  }
}
.catalog-photos__image {
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .catalog-photos__image {
    min-width: 324px;
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .catalog-photos__image--wide {
    min-width: 648px;
    height: 400px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-photos__image--wide {
    min-width: 1200px;
    height: 400px;
  }
}
@media (min-width: 768px) {
  .catalog-photos__picture--wide {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (min-width: 768px) {
  .catalog-photos__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.catalog-photos__title {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
}
.catalog-photos__author {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-transform: none;
}
.catalog-photos__stats {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.catalog-photos__info {
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .catalog-photos__legend {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
  .catalog-photos__legend--colored {
    background-color: #e6e6e6;
  }
}
@media (min-width: 1200px) {
  .catalog-photos__legend {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.catalog-photos__like {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  fill: rgba(0, 0, 0, 0.3);
  margin-right: 14px;
}
@media (min-width: 1200px) {
  .catalog-photos__like {
    fill: #ffffff;
  }
}
.catalog-photos__likes-number {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}
@media (min-width: 1200px) {
  .catalog-photos__likes-number {
    color: #ffffff;
  }
}
.video-presentation {
  padding: 17px 20px 0 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .video-presentation {
    padding: 58px 60px 40px 60px;
  }
}
@media (min-width: 1200px) {
  .video-presentation {
    padding: 64px 200px 40px 200px;
  }
}
.video {
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .video-presentation__video {
    min-width: 648px;
    min-height: 500px;
  }
}
@media (min-width: 1200px) {
  .video-presentation__video {
    min-width: 800px;
    min-height: 500px;
  }
}
@media (min-width: 768px) {
  .video__clip {
    display: block;
    width: 648px;
    height: 500px;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .video__clip {
    width: 100%;
    object-fit: cover;
  }
}
.video-presentation__title {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 30px;
}
.video-presentation__message {
  margin: 0;
  margin-bottom: 38px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
@media (min-width: 768px) {
  .video-presentation__message {
    padding-left: 101px;
    padding-right: 101px;
  }
}
@media (min-width: 768px) {
  .video-presentation__message {
    padding-left: 170px;
    padding-right: 170px;
  }
}
.video-presentation__play-button {
  padding: 0;
  position: absolute;
  border: 0;
  top: 62px;
  left: 116px;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .video-presentation__play-button {
    top: 223px;
    left: 300px;
  }
}
@media (min-width: 1200px) {
  .video-presentation__play-button {
    top: 223px;
    left: 376px;
  }
}
.form-intro {
  padding: 36px 20px 28px;
}
.form-intro__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.form-intro__message {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.fieldset__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.fieldset__list {
  padding: 0;
  list-style: none;
}
.fieldset__label {
  font-size: 14px;
  line-height: 21px;
  margin-left: 16px;
}
.fieldset__input {
  width: 280px;
  padding: 16px 16px 16px 16px;
  border: none;
  background-color: #f2f2f2;
  margin-bottom: 16px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.fieldset__input-short {
  padding-right: 70px;
}
.fieldset__input-phone {
  position: relative;
}
.fieldset__input-phone::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #e6e6e6;
  background-image: url("../img/vectors/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.fieldset__input-email {
  position: relative;
}
.fieldset__input-email::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #e6e6e6;
  background-image: url("../img/vectors/mail.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.form-data {
  padding-left: 20px;
  padding-right: 20px;
}
.form-data__fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
  border: none;
}
.form-data__feedback {
  margin: 0;
  padding: 0;
}
.form-data__footnote {
  margin-top: 3px;
  text-align: right;
}
.radio {
  margin-left: 0;
}
.fieldset__item--radio:not(:last-child) {
  margin-bottom: 36px;
}
.fieldset__title--radio {
  margin-bottom: 20px;
}
.radio__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio__input + label {
  display: inline-flex;
  align-items: center;
}
.radio__label {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
  padding-left: 62px;
}
.radio__label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  min-width: 46px;
  min-height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center center;
}
.radio__label::after {
  content: "";
  top: 0;
  left: 15px;
  position: absolute;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
  background-color: #333333;
  opacity: 0;
}
.radio__input:checked + .radio__label::after {
  opacity: 1;
}
.fieldset__item--checkbox:not(:last-child) {
  margin-bottom: 36px;
}
.fieldset__title--checkbox {
  margin-bottom: 20px;
}
.checkbox {
  margin-left: 0;
}
.checkbox__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox__input + label {
  display: inline-flex;
  align-items: center;
}
.checkbox__label {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  cursor: pointer;
  padding-left: 62px;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  min-width: 46px;
  min-height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  background-position: center center;
}
.checkbox__label::after {
  content: "";
  top: 0;
  left: 13px;
  position: absolute;
  width: 22px;
  height: 16px;
  background-image: url("../img/vectors/tick.svg");
  background-repeat: no-repeat;
  opacity: 0;
}
.checkbox__input:checked + .checkbox__label::after {
  opacity: 1;
}
.feedback__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.feedback__block {
  margin-top: 20px;
  margin-bottom: 56px;
}
.feedback__input {
  padding: 16px;
  width: 279px;
  min-height: 150px;
  background-color: #f2f2f2;
  font-family: inherit;
  border: none;
  resize: none;
}
::-webkit-input-placeholder {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.3);
}
.footnote__button {
  font-family: inherit;
  text-transform: uppercase;
}
.footnote__message {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}
.page-container {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .page-container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-container {
    width: 1200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
/*# sourceMappingURL=style.css.map */
